




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campfire</title>
</head>
{% extends "home.html" %}

{% block content %}
<body>
<form method = "post">
    <!-- user message input -->
    <h2 style="color: red;">Enter Your Wild West Name to forever be a part of our website!:</h2>
    <input name="Cowboy" id="Cowboy" type="text" style="width: 75px;" >

    <!-- shows buttons, gives them functions -->
    <p><button class="button"  formaction = "/campfire">Rest</button></p>
    {% for new_cowboy in cowboys %}
    <li>{{new_cowboy.name}}</li>
    {% endfor %}
</form>
</body>
</html>


<style>
    body {
                background-image: url(https://cdn5.vectorstock.com/i/1000x1000/15/54/background-with-forest-camp-fire-vector-21441554.jpg); no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    </style>

{% endblock %}