<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campfire</title>
</head>



<body>
<form method = "post">
    <!-- user message input -->
    <h2 style="color: black;">Enter Your Wild West Name:</h2>
    <input name="Cowboy" id="Cowboy" type="text" style="width: 75px;" >

    <!-- shows buttons, gives them functions -->
    <p><button class="button"  formaction = "/campfire">Rest</button></p>
    {% for new_cowboy in cowboys %}
    <li>{{new_cowboy.name}}</li>
    {% endfor %}
</form>
</body>
</html>


<style>
    body {
                background-image: url(https://st2.depositphotos.com/3649089/9346/v/600/depositphotos_93465868-stock-illustration-bonfire-with-marshmallow.jpg); no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    </style>