<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsa.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://www.vhv.rs/dpng/d/439-4397837_thumb-image-transparent-sheriff-badge-png-png-download.png" alt="badge" style="width:49px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link dropdown-link" href="/">Back to Home Road</a>
    <a class="nav-link dropdown-link" href="/history">History</a>
    <a class="nav-link dropdown-link" href="/hashtag">History Quiz</a>
    <a class="nav-link dropdown-link" href="/saloon">Saloon</a>
    <a class="nav-link dropdown-link" href="/aboutus">About Us</a>
    <a class="nav-link dropdown-link" href="/randomapi">The Hotel</a>

    <div class="nav-link dropdown-link dropdown-mine">
        <span>Mini Labs</span>
        <div class="dropdown-content-mine">
            <a class="dropdown-link" href="/MiniLabs/Aiden/AidenLab"><span>Aiden's Mini Lab</span></a>
            <br/>
            <a class="dropdown-link" href="/MiniLabs/Dane/DaneLab"><span>Dane's Mini Lab</span></a>
            <br/>
            <a class="dropdown-link" href="/MiniLabs/Nathan/NathanLab"><span>Nathan's Mini Lab</span></a>
            <br/>
            <a class="dropdown-link" href="/MiniLabs/Noah/NoahLab"><span>Noah's Mini Lab</span></a>
            <br/>
        </div>
    </div>
    <div class="nav-link dropdown-link dropdown-mine">
        <span>Bubble Sort</span>
        <div class="dropdown-content-mine">
            <a class="dropdown-link" href="/bubblesort/Aidenbubble/Aiden_bubble"><span>Aiden's Bubble Sort</span></a>
            <br/>
            <a class="dropdown-link" href="/bubblesort/Danebubble/Dane_bubble"><span>Dane's Bubble Sort</span></a>
            <br/>
            <a class="dropdown-link" href="/bubblesort/Nathanbubble/Nathan_bubble"><span>Nathan's Bubble Sort</span></a>
            <br/>
            <a class="dropdown-link" href="/bubblesort/Noahbubble/Noah_bubble"><span>Noah's Bubble Sort</span></a>
            <br/>
        </div>
    </div>
</nav>
<!-- allows menu bar to be used in other pages w/out copy/paste updating -->
{% block content %}{% endblock %}
</body>
</html>