<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saloon</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
{% extends "home.html" %}

{% block content %}



    <style>
    html,
    body {
      background-image: url(https://i.pinimg.com/originals/c3/e8/d3/c3e8d3c67333e1dfa449c7777c5939ce.jpg); no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
</style>
    {% endblock %}

</html>