<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dane's Mini Lab</title>
</head>
<body>

<form method="POST"  action="/DaneLab">
    <h2>Area</h2>
    <div>
        <label for="height">Height:</label>
        <input id="height" name="height" required type="text" placeholder="type here" value="">
        <label for="length">Length:</label>
        <input id="length" name="length" required type="number" placeholder="type here" value=0>
    </div>
    <p style="font-size:2vw;"><td><input type="submit" value="click here to search = {{area}}" /> </td>
</form>.

