<!DOCTYPE html>
{% extends "home.html" %}

{% block content %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Factorial series in Python</strong></h1>
        </div>

        <!-- Input and Content -->
        <div>
            <div class="text-center">
                <h3>Enter a number 2 to 100 for the Factorial sequence below:</h3>
                </br>
                <form id="facForm" action="/MiniLabs/Noah/NoahLab" method="POST" >
                    <input name="series" id="series" type="number" min="2" max="100" >
                    <button>Start!</button>
                </form>
            </div>
            </br>
            </br>
            <div>
                <h2 style = "text-align:center">Factorial series for <span style = "color: red"> {{factorial.series}}</span>: </h2>
                <!-- Number, List table -->
                <div style = "margin-left: 100px">
                <h3><strong>Number</strong></h3>
                <p>{{factorial.number}}</p>
                <h3><strong>List</strong></h3>
                <p>{{factorial.list}}</p>
                </div>
            </div>
        </div>

        <!-- Sequence -->
        <div class="col-12" style="text-align: left; ">
            <!-- Series -->
            <h3 style = "text-align:center">Factorial build up for series:
                <span style = "color:red">{{factorial.series}}</span> number: <span style = "color: red">{{factorial.number}}</span></h3>
            <div class="overflow-auto" style="height: 350px">
                {% for i in range(factorial.series) %}
                <h5>{{factorial.get_sequence(i)}}</h5>
                {% endfor %}
            </div>
            <!-- Code -->
        </div>
    </div>

</div>
</div>
<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
    body {
      background-image: url(https://i.ytimg.com/vi/dDJQ-jqHFm0/maxresdefault.jpg); no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .text-center {
      text-align: center;
    }
</style>
{% endblock %}